html {
    height: 100%;
    scroll-behavior: smooth;
}
    
.scroll-down{
    height: 50px;
    width: 30px;
    border: 2px solid #F7EC36;
    z-index: 1;
    position: absolute;
    left: 50%;
    bottom: -120%;
    border-radius: 44%;
    cursor: pointer;
}

.scroll-down::before,
.scroll-down::after{
    content: '';
    position: absolute;
    top: 20%;
    left: 50%;
    border: 2px solid #F7EC36;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -90%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite;

}

.scroll-down::after{
    top: 20%;
    animation-delay: .3s;
}

@keyframes scroll-down{
    0%{
     opacity: 0;
    }
    30%{
     opacity: 1;
    }
    60%{
     opacity: 1;   
    }
    100%{
     opacity: 0;
     top: 90%;
    }
}

#btnScrollToTop {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #73767a;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: black;
    outline: none;
    cursor: pointer;
    border: none;
}

#get-social {
    position: fixed;
    left: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #8BC802;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    color: greenyellow;
    outline: none;
    cursor: progress; 
    border: none;
}

#btnScrollToTop:active {
    background: #FAAC42;
}

body {
    background: url('/media/jill-heyer-03ztkGdYWU8-unsplash.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #283342;
    font-family: 'Nunito';
}


/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.household-luxury-button {
    background: #f54b48;
    color: white;
    min-width: 260px;
}

.product-essentials-button {
    background: #283342;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.household-luxury-button:hover,
.household-luxury-button:active,
.household-luxury-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #ec110d;
    color: white;
}

.product-essentials-button:hover,
.product-essentials-button:active,
.product-essentials-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #73767a;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #161c24 !important;
        box-sizing: border-box;
}

.delivery-wrapper {
    font-size: 62.5%;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}

.discount {
    text-transform: uppercase;
    margin: 0 0 5px 0;
    padding: 5px 10px;
    color: #000;
    background: #fff;

}



@media (min-width: 576px) {
    .card-group {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    }
    .card-group .card {
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 0%;
        -ms-flex: 1 0 0%;
        flex: 1 0 0%;
    }
    .card-group .card + .card {
        margin-left: 0;
        border-left: 0;
    }
    .card-group .card:first-child {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }
    .card-group .card:first-child .card-img-top {
        border-top-right-radius: 0;
    }
    .card-group .card:first-child .card-img-bottom {
        border-bottom-right-radius: 0;
    }
    .card-group .card:last-child {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }
    .card-group .card:last-child .card-img-top {
        border-top-left-radius: 0;
    }
    .card-group .card:last-child .card-img-bottom {
        border-bottom-left-radius: 0;
    }
    .card-group .card:not(:first-child):not(:last-child) {
        border-radius: 0;
    }
    .card-group .card:not(:first-child):not(:last-child) .card-img-top,
    .card-group .card:not(:first-child):not(:last-child) .card-img-bottom {
        border-radius: 0;
    }
}



/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

@media (min-width: 576px) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem;
    }
    .card-columns .card {
        display: inline-block;
        width: 100%;
        margin-bottom: 0.75rem;
    }
}