html {
    height: 100%;
}

body {
    background: url('/media/jill-heyer-03ztkGdYWU8-unsplash.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #283342;
    font-family: 'Nunito';
}


/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.household-luxury-button {
    background: #f54b48;
    color: white;
    min-width: 260px;
}

.product-essentials-button {
    background: #283342;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.household-luxury-button:hover,
.household-luxury-button:active,
.household-luxury-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #ec110d;
    color: white;
}

.product-essentials-button:hover,
.product-essentials-button:active,
.product-essentials-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #73767a;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #161c24 !important;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}