<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a> 
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="luxury-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Luxury
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="Luxury-link">
                <a href="{% url 'products' %}?category=gourmet,spa" class="dropdown-item">Gourmet &amp; Spa</a>
                <a href="{% url 'products' %}?category=living_space" class="dropdown-item">Living Space</a>
                <a href="{% url 'products' %}?category=outdoor" class="dropdown-item">Outdoor</a>
                <a href="{% url 'products' %}?category=gourmet,spa,living_space,outdoor" class="dropdown-item">All Luxury</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="essentials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Essentials
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="essentials-link">
                <a href="{% url 'products' %}?category=lighting_sound" class="dropdown-item">Lighting &amp; Sound</a>
                <a href="{% url 'products' %}?category=security_data" class="dropdown-item">Security &amp; Data</a>
                <a href="{% url 'products' %}?category=lighting_sound,security_data" class="dropdown-item">All Essentials</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="exclusives-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Exclusives
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="exclusives-link">
                <a href="{% url 'products' %}?category=discovery" class="dropdown-item">Discovery</a>
                <a href="{% url 'products' %}?category=offers" class="dropdown-item">Offers</a>
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=discovery,offers,deals" class="dropdown-item">All Exclusives</a>
            </div>
        </li>
    </ul>
</div>