{% extends "base.html" %}
{% load static %}

{% block content %}
    <h1 class="display-4 text-success">It works!</h1>
    <header>
        <a href="/">Habitual Living</a>
        <nav>
          <a href="/Household Luxury">Household Luxury</a>
          <a href="/Product Essentials">Product Essentials</a>
          <a href="/Search">Search</a>
          <a href="/Login">Login</a> 
    </nav>
    <button>Shop</button>
    </header>
    <article></article>
    <aside></aside>




25 Smart Products For Your Home In 2021

As tech continues to reinvent itself

At Habitual Living we go wild on, smart home technology - control everything from your mobile where ever you are.

Rating: 5
Review: 6

Share


Renovation

Products

03
{% endblock %}