{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <header>
        <div class="container header-container">
            <div class="row">
            <div class="col"></div>
            </div>
        </div>
    </header>
{% endblock %}

    <!-- <button>Habitual Living</button>
    <article></article>
    <aside></aside> -->

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-3 col-md-9 my-auto">
                <h1 class="display-4 logo-font text-black">
                    Smart Products For Your Home
                </h1>
                <div class="my-4">
                    <h4>
                        <a href="" class="household-luxury-button btn btn-lg rounded-0 text-uppercase py-3">Household Luxury</a>
                        
                        <a href="" class="product-essentials-button btn btn-lg rounded-0 text-uppercase py-3">Product Essentials</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
<!-- 25 Smart Products For Your Home In 2021


As tech continues to reinvent itself

At Habitual Living we go wild on, smart home technology - control everything from your mobile where ever you are.

Rating: 5
Review: 6 

Share


Household Luxury
Product Essentials

03 -->
